/problema1/Proyecto01/nbproject/private/
/problema1/Proyecto01/build/
/problema2/Proyecto02/nbproject/private/
/problema2/Proyecto02/build/
/problema3/Proyecto03/nbproject/private/
/problema3/Proyecto03/build/
/problema4/Proyecto04/nbproject/private/
/problema4/Proyecto04/build/
